
#Google BigQuery credentials
openwoods-13eb9faa572d.json
acreage_price_by_state.csv
Hunting_Season_Lengths.csv
v2_Price Recommender.ipynb
DEV_Price_Recommender-Copy1.ipynb
Duration_Discount_Function.ipynb
.env
.ipynb_checkpoints/Lease_Price_Calculator-checkpoint.ipynb
